.todo-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr4);
    padding-right: 10px;
}

.todo-preview .done {
    text-decoration: line-through;
}
