:root {
  --clr1: #0d1b2a;
  --clr2: #1b263b;
  --clr3: #415a77;
  --clr4: #778da9;
  --clr5: #e0e1dd;

  --clr6: #95d5b2;
  --clr7: #52b788;
  --clr8: #b75252;

  --clr1bg: #94d2bd;
  --clr1bg-light: #c1f1e1;
  --clr2bg: #ee9b00;
  --clr2bg-light: #e9d8a6;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);
}
