button {
    cursor: pointer;
    background-color: var(--clr4);
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;
}

button:hover {
    background-color: var(--clr3);
    transition: 0.3s;
}
input:focus {
    /* background-color: var(--clr1bg); */
    /* transition: background-color 1s; */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

input,
select {
    border-radius: 5px;
}
